TZ=UTC
PORT=3333
HOST=0.0.0.0
ALLOWED_HOST=
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=localhost
DB_PORT=6033
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=db
DB_ROOT_PASSWORD=root
API_KEY=
SSO_PORTAL=
APP_URL=
OBJECTS_HARD_DELETE_AFTER_DAYS=-1