:root{
    --colorform : #CAE0BC;
    --colorback : #EAFAEA;
    --colorItem : #CAE0BC;
    --colorButton : #6E8E59;
    --colorText : #EAFAEA;
    --colorFocus : #EAFAEA;
    --colorlink : #CAE0BC;

}
