<h1>
  {{ error.code }} - Server error
</h1>
<img src="https://http.cat/{{ error.code || 500 }}" alt="Erreur serveur http.cat"/>
<p>
  Cette image est fournie par <a href="https://http.cat/">http.cat</a> pour rendre l’erreur plus amusante !
</p>
